/* CORNERS */
#content > .top_left, #content > .top_right,
#blog > .top_left, #blog > .top_right
{
	background-image:url(img/content_corners.png);
	margin:0;
	height:25px;
	width:35px;
	
	position:absolute;
	top:0;
}

#content > .top_left,
#blog > .top_left
{
	left:-11px;
	background-position:0 0;
}

#content > .top_right,
#blog > .top_right
{
	right:-11px;
	background-position:35px 0;
}

#content > .left, #content > .right,
#blog > .left, #blog > .right
{
	background-image:url(img/content_shadows.png);
	
	position:absolute;
	top: 25px;
	bottom: 0;
	width:10px;
}

#content > .left,
#blog > .left
{
	left:-10px;
	background-position:top left;
}

#content > .right,
#blog > .right
{
	right:-10px;
	background-position:top right;
}