#tyro_navbar {
	padding-left: 5px;

	height: 38px;
}

#page_gradient {
	position: absolute;
	top: 0;
	height: 40px;
	left: 0;
	right: 0;
	
	background-image: url("img/page_gradient.png");
}

#tyro_navbar > .t_button {
	height: 100%;
	width: 157px;
	float: left;
}

#tyro_navbar > .t_button:hover > .left, 
#tyro_navbar > .t_button:hover > .middle {
	background-position: left bottom;
}

#tyro_navbar > .t_button:hover > .right {
	background-position: right bottom;
}

#tyro_navbar > .t_button:hover > .text > p > a {
	color: lime;
}


#tyro_navbar > .t_button > .left {
	position: absolute;
	top: 0;
	left: 0;

	height: 38px;
	width: 50px;
	
	background-image: url(img/navbar/button.png);
	background-position: left top;
}

#tyro_navbar > .t_button > .middle {
	position: absolute;
	top: 0;
	left: 50px;
	right: 57px;
	
	height: 38px;
	
	background-image:url(img/navbar/button_middle.png);
}

#tyro_navbar > .t_button > .right {
	position: absolute;
	top: 0;
	right: 0;

	height: 38px;
	width: 57px;
	
	background-image: url(img/navbar/button.png);
	background-position: right top;
}

#tyro_navbar > .t_button > .text {
	position: absolute;
	width: 150px;
	height: 100%;
	
	font-family: Impact;
	font-size: 15px;
	color: white;

	text-align: center;
}

#tyro_navbar > .t_button > .text > p {
	font-size: 15px;
	color: white;
	
	height: 100%;
	width: 100%;

	text-align: center;
}

#tyro_navbar > .t_button > .text > p > a{
	display: block;
	height:100%;
	
	padding-top: 7px;
	
	color: white;
	text-decoration: none;
}

#tyro_navbar > .marquee {
	position: absolute;
	top: 0;
	right: 0;
	left: 476px;
	bottom: 0;
}

#tyro_navbar > .marquee > .left {
	position: absolute;
	top: 0;
	left: 0;

	height: 38px;
	width: 50px;
	
	background-image: url(img/navbar/button.png);
	background-position: left top;
}

#tyro_navbar > .marquee > .middle {
	position: absolute;
	top: 0;
	left: 50px;
	right: 0;

	height: 38px;
	
	background-image: url(img/navbar/button_middle.png);
	background-position: left top;
}

#tyro_navbar > .marquee > .text {
	position: absolute;
	top: 7px;
	left: 10px;
	right: 0;

	height: 38px;
	
	white-space: nowrap;
	overflow: hidden;
}

#tyro_navbar > .marquee > .text > p {
	font-size: 15px;
	color: white;
	
	display: inline;
	white-space: nowrap;
	margin-left: 25px;
	margin-right: 0;
}