/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GENERAL FORMATTING */
*
{
	position:relative;
}

body {
	min-width: 900px;
	background-color:#222;
}

hr {
	border: 0;
	border-top: 1px solid lime;
}

h1,h2,h3,h4,h5,h6, p {
	font-family: Segoe UI;
}

a {
	color: lime;
}

#log {
	position: fixed;
	top:0;
	right:0;
	width: 300px;
	height: 400px;
	z-index: 2;
	opacity:0.7;
	overflow: scroll;
	
	background-color: white;
}

#tyro_header {
	height: 150px;
	background-image: url("img/top_gradient.png");
}

#logo
{
    position: absolute;
    top: 10px;
    left: 5px;
}

#tyro_navbar {
	padding-left: 5px;

	height: 38px;
}

#page_gradient {
	position: absolute;
	top: 0;
	height: 40px;
	left: 0;
	right: 0;
	
	background-image: url("img/page_gradient.png");
}

#tyro_navbar > .t_button {
	height: 100%;
	width: 157px;
	float: left;
}

#tyro_navbar > .t_button:hover > .left, 
#tyro_navbar > .t_button:hover > .middle {
	background-position: left bottom;
}

#tyro_navbar > .t_button:hover > .right {
	background-position: right bottom;
}

#tyro_navbar > .t_button:hover > .text > p > a {
	color: lime;
}


#tyro_navbar > .t_button > .left {
	position: absolute;
	top: 0;
	left: 0;

	height: 38px;
	width: 50px;
	
	background-image: url(img/navbar/button.png);
	background-position: left top;
}

#tyro_navbar > .t_button > .middle {
	position: absolute;
	top: 0;
	left: 50px;
	right: 57px;
	
	height: 38px;
	
	background-image:url(img/navbar/button_middle.png);
}

#tyro_navbar > .t_button > .right {
	position: absolute;
	top: 0;
	right: 0;

	height: 38px;
	width: 57px;
	
	background-image: url(img/navbar/button.png);
	background-position: right top;
}

#tyro_navbar > .t_button > .text {
	position: absolute;
	width: 150px;
	height: 100%;
	
	font-family: Impact;
	font-size: 15px;
	color: white;

	text-align: center;
}

#tyro_navbar > .t_button > .text > p {
	font-size: 15px;
	color: white;
	
	height: 100%;
	width: 100%;

	text-align: center;
}

#tyro_navbar > .t_button > .text > p > a{
	display: block;
	height:100%;
	
	padding-top: 7px;
	
	color: white;
	text-decoration: none;
}

#tyro_navbar > .marquee {
	position: absolute;
	top: 0;
	right: 0;
	left: 476px;
	bottom: 0;
}

#tyro_navbar > .marquee > .left {
	position: absolute;
	top: 0;
	left: 0;

	height: 38px;
	width: 50px;
	
	background-image: url(img/navbar/button.png);
	background-position: left top;
}

#tyro_navbar > .marquee > .middle {
	position: absolute;
	top: 0;
	left: 50px;
	right: 0;

	height: 38px;
	
	background-image: url(img/navbar/button_middle.png);
	background-position: left top;
}

#tyro_navbar > .marquee > .text {
	position: absolute;
	top: 7px;
	left: 10px;
	right: 0;

	height: 38px;
	
	white-space: nowrap;
	overflow: hidden;
}

#tyro_navbar > .marquee > .text > p {
	font-size: 15px;
	color: white;
	
	display: inline;
	white-space: nowrap;
	margin-left: 25px;
	margin-right: 0;
}

#page {
	background-color: #222;
	padding: 10px 0 0;
}

#newsreel {
	width: 900px;
	height: 300px;
	background-color: black;
}

#newsreel > .nrImg {
	height: 100%;
	width: 100%;
	position: absolute;
}

#newsreel > .nrTitle {
	top: 30px;
	margin-bottom: 1px;
	display: inline-block;
	padding:2px 100px 7px 5px;
	
	overflow: hidden;
}

#newsreel > .nrTitle > p > a {
	color: white;
	text-decoration: none;
	font-size: 20px;
}

#newsreel > .nrTitle > .number {
	display: none;
}

#newsreel > .nrTitle > .solid {
	background-color: black;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 150px;
	
	filter:alpha(opacity=60);
	opacity:0.6;
}

#newsreel > .nrTitle > .gradient {
	background-image: url(/css/img/gradient_left.png);
	
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 150px;
}

#newsreel > .nrTitle.active > p > a {
	color: lime;
}

#tyro_content, #tyro_footer {
	width: 870px;
	
	padding-left: 15px;
	padding-right: 15px;
	
	margin-left: auto;
	margin-right: auto;
	
	background-color: #333;
}

#tyro_content {
	margin-top: 15px;
	padding: 15px;
	
	color: #b0b0b0;
}

/* CORNERS */
#tyro_content > .top_left, #tyro_content > .top_right
{
	background-image:url(img/content_corners.png);
	margin:0;
	height:25px;
	width:35px;
	
	position:absolute;
	top:0;
}

#tyro_content > .top_left
{
	left:-11px;
	background-position:0 0;
}

#tyro_content > .top_right
{
	right:-11px;
	background-position:35px 0;
}

#tyro_content > .left, #tyro_content > .right
{
	background-image:url(img/content_shadows.png);
	
	position:absolute;
	top: 25px;
	bottom: 0;
	width:10px;
}

#tyro_content > .left
{
	left:-10px;
	background-position:top left;
}

#tyro_content > .right
{
	right:-10px;
	background-position:top right;
}

#tyro_content h1,
#tyro_content h2,
#tyro_content h3,
#tyro_content h4,
#tyro_content h5,
#tyro_content h6
{
	color: #0c2;
}

#tyro_content h1 { font-size: 32px; }

#tyro_content p {
	font-size: 16px;
	letter-spacing: 0.05em;
}

#recent_posts .post_title {
	
}

#recent_posts a {
	color: #0c2;
	text-decoration: none;
}

#recent_posts a:hover {
	color: #0c2;
	text-decoration: underline;
}

#recent_posts hr {
	border-color: #b0b0b0;
}

#recent_posts .entry {
	padding-left: 10px;
	padding-right: 10px;
}

#recent_posts p {
	margin: 10px 0;
}

#recent_posts {

}

#recent_posts {

}

#recent_posts {

}

#recent_posts {

}

#recent_posts {

}

#tyro_footer {
	padding-top: 5px;
	padding-bottom: 5px;
}

#tyro_footer > .left, #tyro_footer > .right
{
	background-image:url(img/content_shadows.png);
	
	position:absolute;
	top: 0;
	bottom: 0;
	width:10px;
}

#tyro_footer > .left
{
	left:-10px;
	background-position:top left;
}

#tyro_footer > .right
{
	right:-10px;
	background-position:top right;
}

#tyro_footer > .text {
	color: #b0b0b0;
	text-align:center;
    font-size:11px;
}

#preload {
	display: none;
}
