/* CONTENT */
.titlebox
{
    margin: 20px auto;
    
    position: relative;
}
.titlebox_top_left,
.titlebox_top_right,
.titlebox_bottom_left,
.titlebox_bottom_right,
.titlebox_right,
.titlebox_bottom
{
	position: absolute;
	z-index:1;
}

.titlebox_top_left
{
	background-image: url(img/titlebox_top_left.png);
	width: 25px;
	height: 25px;
	
	top: 0;
	left: 0;
}

.titlebox_top_right
{
	background-image: url(img/titlebox_top_right.png);
	width: 35px;
	height: 29px;
	
	top: 0;
	right: -10px;
}

.titlebox_bottom_left
{
	background-image: url(img/titlebox_bottom_left.png);
	
	width: 29px;
	height: 35px;
	
	bottom: -10px;
	left: 0;
}

.titlebox_bottom_right
{
	background-image: url(img/titlebox_bottom_right.png);
	
	width: 35px;
	height: 35px;
	
	bottom: -10px;
	right: -10px;
}

.titlebox_right
{
	background-image: url(img/titlebox_shadow_right.png);

	width: 10px;

	top: 29px;
	bottom: 25px;
	right: -10px;
}

.titlebox_bottom
{
	background-image: url(img/titlebox_shadow_bottom.png);

	height: 10px;
	
	bottom: -10px;
	left: 29px;
	right: 25px;
}