.ss2_wrapper {
	position:relative;
	width:960px;
	height:300px;
	margin:0 0 0 -20px;
	overflow:hidden;
}

.ss2_wrapper .slideshow { 
	position:relative; 
	width:960px; 
	height:300px; 
}
	
.ss2_wrapper .slideshow_item { 
	width:960px; 
	height:300px; 
}
.ss2_wrapper .slideshow_item .data { 
	display:none; 
}

.ss2_wrapper a.slideshow_prev,
.ss2_wrapper a.slideshow_next,
.ss2_wrapper .slideshow_paging, 
.ss2_wrapper .slideshow_paging a {
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px; 
}

.ss2_wrapper a.slideshow_prev,
.ss2_wrapper a.slideshow_next,
.ss2_wrapper .slideshow_paging {
	background:url(trans-black-70.png); 
	-moz-box-shadow: 0 0 2px #222; 
	-webkit-box-shadow: 0 0 2px #222; 
	box-shadow: 0 0 2px #222;
}

.ss2_wrapper a.slideshow_prev,
.ss2_wrapper a.slideshow_next {
	position:absolute; 
	top:120px;
	z-index:10; 
	width:40px; 
	height:46px; 
	outline:none;
}

.ss2_wrapper a.slideshow_prev { 
	left:-45px; 
}

.ss2_wrapper a.slideshow_next { 
	right:-45px; 
}

.ss2_wrapper a.slideshow_prev:hover,
.ss2_wrapper a.slideshow_next:hover { 
	background:#000;
}

.ss2_wrapper a.slideshow_prev span,
.ss2_wrapper a.slideshow_next span {
	display:block; 
	width:40px; 
	height:46px; 
	text-indent:-9999px;
}

.ss2_wrapper a.slideshow_prev span { 
	background:url(arrows.png) no-repeat -55px 50%;
}

.ss2_wrapper a.slideshow_next span { 
	background:url(arrows.png) no-repeat -5px 50%; 
}

.ss2_wrapper .slideshow_paging { 
	position:absolute; 
	top:10px; 
	right:10px; 
	z-index:11; 
	font-size:12px; 
	padding:3px 2px; 
}

.ss2_wrapper .slideshow_paging a { 
	display:block; 
	float:left; 
	margin:0 1px; 
	padding:3px 7px; 
	color:#ccc; 
}

.ss2_wrapper .slideshow_paging a:hover { 
	color:#fff
}

.ss2_wrapper .slideshow_paging a.activeSlide { 
	background:#eee; 
	color:#222
}

.ss2_wrapper .slideshow_box { 
	position:absolute; 
	left:0; 
	bottom:0; 
	background:url(trans-black-70.png); 
	width:100%; 
	height:0px; 
	z-index:10;
}

.ss2_wrapper .slideshow_box .data { 
	padding:15px 20px; 
	color:#ccc;
}

.ss2_wrapper .slideshow_box .data h4 { 
	color:#fff; 
	font:bold 20px arial, sans-serif; 
	padding:0; 
	margin:0 0 10px 0;
}

.ss2_wrapper .slideshow_box .data p { 
	padding:0; 
	margin:0; 
	line-height:140%;
}

.ss2_wrapper .slideshow_box .data a { 
	color:#fff;
}