/*
Theme Name:	Near Nothing
Theme URI: http://fabapps.com/wordpress/nearnothing 
Description: Near Nothing is a bare bones theme with minimal markup and no images. It's made from scratch and consists of fewer than 500 lines of commented code. 
Version: 1.0
Author: Christian MacAuley
Author URI: http://fabapps.com
Tags: white, black, light, two-columns, left-sidebar, fixed-width, custom-menu, threaded-comments, sticky-post 
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#blog h1, #blog h2, #blog h3, #blog h4, #blog h5, #blog h6, #blog p, #blog ul, #blog ol, #blog pre, #blog blockquote, #blog cite, #blog table { margin-bottom: 0.8em; }
#blog ul, #blog ol, #blog li { margin-left: 0.5em; }

* { position: relative; }

/* page wrappers */
	body {
		font-family: "Segoe UI";
		color: #b0b0b0;
		background-color: #222;
	}
	
	#blog {
		width:960px;
		margin: 15px auto 0;
		padding: 10px 10px 0;
		background-color: #333;
	}

/* common tags */

/* links */
	#blog a {
		color: #0c2;	
	}

	/* blockquote */
	#blog blockquote, #blog cite {
		font-size: 0.9em;
		padding-left: 20px;
		padding-right: 20px;
	}

/* main contents */
	#content {
		padding: 20px 0 20px 30px;
		margin: 0 0 20px 200px;
		border-left: 1px solid #eee;
		min-height: 500px;
	}
	/*.postmeta {
		clear: both;	
	}*/

/* header */
	
	/* posts */
	#blog .postmeta, #blog .postnavigation {
		font-size: 0.9em;
	}
	body.blog .post .postmeta, body.archive .post .postmeta, body.search .post {
		border-bottom: 1px solid #eee;
		padding-bottom: 30px;
		margin-bottom: 30px;
	}
	body.blog .post:last-child .postmeta, body.archive .post:last-child .postmeta {
		border-bottom: none;
	}

/* newsreel */
#newsreel {
	width: 980px;
	height: 300px;
	background-color: black;
	
	margin: 15px auto;
}

#newsreel > .nrImg {
	height: 100%;
	width: 100%;
	position: absolute;
}

#newsreel > .nrTitle {
	top: 30px;
	margin-bottom: 1px;
	display: inline-block;
	padding:2px 100px 7px 5px;
	
	overflow: hidden;
}

#newsreel > .nrTitle > p > a {
	color: white;
	text-decoration: none;
	font-size: 20px;
}

#newsreel > .nrTitle > .number {
	display: none;
}

#newsreel > .nrTitle > .solid {
	background-color: black;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 150px;
	
	filter:alpha(opacity=60);
	opacity:0.6;
}

#newsreel > .nrTitle > .gradient {
	background-image: url(/css/img/gradient_left.png);
	
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 150px;
}

#newsreel > .nrTitle.active > p > a {
	color: lime;
}

/* sidebar */
	#sidebar {
		width: 200px;
		float: left;
		padding: 20px 5px 20px 5px;
		margin-bottom: 20px;
		font-size: 0.9em;
	}
	#sidebar ul { 
		list-style-type: none;
		margin: 0;
	}
	#sidebar li {
		list-style-type: none;
		margin-left: 0;
	}
	#sidebar li li {
		list-style-type: disc;
		margin-left: 18px;
	}
	#sidebar ul {
	}
	#sidebar li ul ul {
		margin-left: 0;
	}
	#sidebar h2 {
		padding-bottom: 0.1em;
		margin: 0;
	}
	#sidebar .widget {
		margin-bottom: 20px;	
	}

/* footer */
	#footer {
		clear: both;
		border-top: 1px solid #eee;
		padding: 5px 0 5px 0;
	}
	#footer p {
		text-align: center;	
		font-size: 0.9em;
	}

/* topnav and footer nav */
	#topnav ul, #footer ul {
		list-style-type: none; 
		text-align: left;
		margin: 0;
	}
	#topnav li, #footer li {
		list-style-type: none; 
		display: inline; 
		padding-left: 0.5em;
	}
	#topnav li ul, #footer li ul {
		display: inline;
		padding: 0;
	}
	#bottomnav {
		padding-bottom: 20px;
	}

/* comments */
	#comments {
		font-size: 0.9em;	
	}
	#comments ol {
		margin: 0;
	}
	#comments li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	#comments li ul {
		padding-left: 10px;
		margin-bottom: 0;
	}
	#comments .comment-body {
		padding: 10px 10px 0 10px;
		border-top: 1px solid #b0b0b0;
	}
	#comments .comment-meta {
		font-size: 0.8em;
		padding-bottom: 0.5em;
	}
	#comments .reply {
		padding-bottom: 10px;
		font-size: 0.8em;
	}
	#comments .thread-even {
	}
	#comments .thread-odd {
	}
	#respond {
		border-top: 1px solid #b0b0b0;
		margin-top: 30px;
		padding: 10px;
	}
	#respond label {
		display: block;
	}
	#respond input, #respond textarea {
		font-family: "Segoe UI"; 
		font-size: 10pt;
	}
	
	#respond textarea {
		background-color: #444;
		margin-top: 3px;
	}

/* wordpress classes */
	#blog .alignleft {
		float: left; 
		padding: 2px 8px 8px 2px;
	}
	#blog .alignright {
		float: right;
		padding: 2px 2px 8px 8px;
	}
	#blog .aligncenter {
		clear: both;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	#blog .wp-caption-text, #blog .gallery-caption { 
		color: #666; 
		font-size: 0.8em; 
		padding: 3px 0; 
	}
	#blog .gallery {
		padding: 10px 10px 25px 10px;
	}

/* customize search widget here */
	#blog .widget_search #searchform {
	}
	#blog .widget_search #searchform label {
		display: block;
	}
	#blog .widget_search #searchform #s {
		width: 100px;
	}
	#blog .widget_search #searchsubmit {	
	}

